* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 18px;
  min-height: 100vh;
  background: linear-gradient(rgba(67, 64, 81, 0.6), rgba(67, 64, 81, 0.6)), url('../images/Signup-background.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  width: 15vw;
  max-width: 90px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.auth {
  justify-content: center;
  max-width: 600px;
  margin: 50px auto;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.3);
  padding: 20px;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h2 {
  font-size: 40px;
  text-align: center;
}

.info {
  margin-top: 7px;
  text-align: center;
}

.signup-content {
  display: flex;
  align-items: center;
  gap: 18px;
}

button {
  color: #030615;
  font-style: oblique;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  margin: 10px 0px;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 28px;
  border: 1.5px solid rgb(23, 28, 67);
  border-radius: 9px;
  box-shadow: 2px 2px 0 0 rgb(255, 255, 255);
  cursor: pointer;
  transition: 200ms;
}

button:hover {
  background-color: rgb(23, 28, 67);
  color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

button:active {
  box-shadow: 0 0 0 0 black;
  transform: translate(2px, 2px);
}

input {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  color: white;
  padding: 12px 14px;
  border-radius: 5px;
  margin-bottom: 18px;
  width: 100%;
  outline: none;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  .auth {
    margin: 50px auto;
    padding: 15px;
  }
  h2 {
    font-size: 32px;
  }
  label {
    font-size: 18px;
  }
  input {
    font-size: 14px;
    padding: 10px;
  }
}